body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, nav{
    margin: 0;
    padding: 0;
}
body{font-family: "微软雅黑",Arial;}
a{text-decoration: none;}
ul li{list-style: none;}
.clear:after{content: "";display: block;height: 0;overflow: hidden;clear: both;zoom: 1;}
.commont_header{width:100%;}
.com_header{width: 1200px;margin:0 auto;position: relative;}
#top_main{width:1240px;margin:0 auto;}
#top{width:100%;background-color:#f5f5f5;border-top: 1px solid #b6b4b6;border-bottom: 1px solid #dddddd;position: relative;}
#top #top_left{float:left;padding-left: 18px;font-size: 12px;line-height: 28px;}
#top #top_left a{display:block;float:left;padding-left: 8px;}
#top #top_left a:first-child{margin-right: 13px;color:#ff0033}
#top #top_left a:nth-child(2){color:#565656}
#top #top_right{float:right;padding-right: 35px;}
#top #top_right ul,#top #top_right ul li{float:left;font-size: 12px;line-height: 28px;}
#top #top_right a{color:#c70a28;}
#top #top_right a:hover{color:#c70a28;}
#top #top_left a:hover{color:#c70a28;}
#top #top_leftul li:nth-child(2) a{margin-left: 14px;}
#top #top_leftul li:nth-child(3) a{margin-left: 9px;color:red;}
#top #top_leftul li:nth-child(4) a{padding:0 14px;width:60px;border-right:1px solid #dddddd}
#top #top_rightul li:nth-child(1){margin-left: 14px;}
#top #top_rightul li:nth-child(2){margin:0 21px;}
#top #top_rightul li:nth-child(3) img{width: 12px;height: 10px;margin-right: 5px;}
#website_nav{position: absolute;left:0;left:28px;width: 100%;display: none;}
#website_navmain{padding:8px 0px 8px 0px;border:1px solid #dddddd;background: #FFFFFF;width:1200px}
#website_navmain li{float:left;font-size: 12px;}
#website_navmain>li{height:137px;margin-left: 32px;border-right: 1px solid #dddddd;}
#website_navmain li a{color:#666666}
#website_navmain li a:hover{text-decoration:underline;}
#website_navmain>li h3{margin: 8px 0 10px 0;font-size: 15px;}
#website_navmain>li:nth-child(1){width:15%;margin-left: 32px;}
 #website_navmain>li:nth-child(1) h3{font-size: 15px;color: #f9a23a;}
#website_navmain>li:nth-child(1) h3{color: #f9a23a;}
#website_navmain>li:nth-child(2) h3{color: #ec0736;}
#website_navmain>li:nth-child(3) h3{color: #2263d4;}
#website_navmain>li:nth-child(4) h3{color: #5e8e3d;}
#website_navmain>li:nth-child(5) h3{color: #686868;}
#website_navmain>li:nth-child(1) ul li {width:88px;line-height: 22px;}
#website_navmain>li:nth-child(2){width:25%;margin-left: 32px;}
#website_navmain>li:nth-child(2) ul li {width:148px;line-height: 22px;}
#website_navmain>li:nth-child(3){width:13%;}
#website_navmain>li:nth-child(3) ul li {width:148px;line-height: 22px;}
#website_navmain>li:nth-child(4){width:15%;}
#website_navmain>li:nth-child(4) ul li {width:148px;line-height: 22px;}
#website_navmain>li:nth-child(5){width:15%;border: none;}
#website_navmain>li:nth-child(5) ul li {width:88px;line-height: 22px;}
/*head部分*/
#header{width:100%}
#header_main{/*margin:0 33px 0  28px;*/}
#header_main a:nth-child(1){display:block;float: left;margin-top: 29px;}
#header_main #search{float: left;margin-left: 110px;margin-top: 29px;}
#header_main #search input:nth-child(1){width:406px;height: 34px;padding-top:3px;border:2px solid #c80a28;border-right: none;}
#header_main #search input:nth-child(2){width:86px;height: 42px;margin-left:-6px;background: #c80a28;border:1px solid #c80a28;color:#fff;font-size: 16px;}
#header_main #search_nav a{display: block;height:12px;font-size: 12px;margin-top:10px;padding:0px 10px;border-left:1px solid #b299b2;line-height: 12px;}
#header_main #search_nav a:hover{color:#c70a28;}
#header_main #search_nav li:nth-child(1) a{padding-left: 0px;border: none;}
#header_main #ewm{float:left;margin-left: 166px;padding-top: 29px;}
#header_main #ewm p{font-size: 12px;color:#ff0032;text-align: center;}
#header_nav{width:100%;position: relative;}
#header_nav .spfl{width:190px;position: absolute;left:0;top:152px;display: ;z-index:10;}
#header_nav .spfl h2{height: 33px;background: red;text-align: center;font-size: 14px;color:#fff;line-height: 33px;}
#header_nav .spfl ul li span{display: block;position: absolute;top:9px;right: 8px;}
#header_nav .spfl ul li{float:left;padding: 12px 13px;width:164px;position: relative;background: #e3e3e3;border-bottom: 1px dashed    #cccccc;}
#header_nav .spfl ul li a{font-size: 12px;float: left;margin: 0 1px;}
#header_nav .spfl ul li h3{font-size: 14px;color: #333;width:164px;float: left;height: 24px;}
.spfl ul li h3 .nav_i{float: left;width:18px;height:18px;overflow: hidden;}
.spfl ul li h3 .nav_ia{float: left;}

#header_nav .headerul li a{display: inline-block;margin:0 16px;line-height: 36px;font-size: 13px;color:black;font-weight: bolder;float: left;}
#header_nav .headerul li a:hover{color:#c70a28}
#header_nav .headerul  li:nth-child(1){float:left;margin-left:190px;}
#header_nav .headerul  li:nth-child(2){float:left;}
#header_nav .headerul  li:nth-child(3){float:right;margin-right: 28px;}
#header_nav .headerul  li:nth-child(4){float:right;}
#header_nav .headerul  li:nth-child(5):hover .hdzrx{display: block;}
#header_nav .headerul  li:nth-child(5){float:right;position: relative;}
.hdzrx:hover{color:#c70a28;}
#header_nav .headerul  .hdzrx{background: #B6B4B6;border-top:1px solid #b299b2;display:none;position: absolute;left:0;top:36px;width:109px;text-align: center;font-size: 13px;font-weight: bolder;line-height: 26px;}
#header_nav .headerul  li:nth-child(5) a span,#header_nav ul li:nth-child(4) a span{margin-left:6px;display: inline-block;width: 0;height: 0;content: "";border:3px solid transparent;border-top-color: red;}
/*banner*/

